*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Semibold.ttf);
  font-weight: 600;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.wraper {
  width: 100%;
  margin: 0 auto;
  background: #fbfbfb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-select {
  font-size: 14px;
  font-weight: bold;
}
.text-nav {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
}
.text-icon {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
}
.text-title {
  color: #f3f3f3;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-heading {
  font-size: 24px;
  font-weight: bold;
  color: #252525;
  text-transform: uppercase;
}
.text-t18 {
  font-size: 18px;
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 35px;
}
.text-t16 {
  font-size: 16px;
  color: #707070;
  font-weight: bold;
  padding-bottom: 25px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.text-t14 {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 24px;
}
.text-desc {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  padding-bottom: 30px;
  line-height: 24px;
}

.header {
  padding: 25px 0;
}

.select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 50px;
  padding-left: 20px;
  min-height: 41px;
  cursor: pointer;
}
.select option {
  font-size: 16px;
  font-weight: 400;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content {
  max-width: 570px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.header-select {
  width: 174px;
  max-height: 41px;
  display: flex;
  align-items: center;
  border-right: 1px solid #e1e1e1;
  padding: 20px 0;
  gap: 0 10px;
  position: relative;
}
.header-select:nth-child(2) {
  width: 100px;
  padding: 0;
  border: none;
}
.header-select:nth-child(2) .select {
  width: 100%;
  min-height: 41px;
  padding-right: 5px;
}
.header-select:nth-child(2) .header-checkbox {
  right: 0;
}
.header-checkbox {
  position: absolute;
  right: 15px;
}
.header-search {
  position: relative;
  padding: 0 50px 0 20px;
  width: 450px;
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}
.header-author {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.header-author i {
  font-size: 25px;
  color: #252525;
}
.header-author span {
  font-size: 24px;
  color: #8c8c8c;
}

.search-input {
  border: none;
  width: 100%;
}
.search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  line-height: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.search-icon {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.search-icon a {
  color: #252525;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.icon-select {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation {
  background-color: #252525;
}

.navigation-content {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-icon {
  display: flex;
  align-items: center;
  gap: 0 22px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 36px;
  position: relative;
}
.menu-item {
  list-style-type: none;
}
.menu-item:hover .menu2-option {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s linear;
}
.menu-link:hover {
  color: #707070;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s linear;
}

.menu2 {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.menu2-option {
  cursor: pointer;
  position: absolute;
  top: 100%;
  min-width: 271px;
  max-height: 291px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(28px);
}
.menu2-option::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 30px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.2s linear;
}
.menu2-item {
  list-style-type: none;
  padding: 15px 0;
  border-bottom: 1px solid #8c8c8c;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.menu2-item:last-of-type {
  border: none;
}
.menu2-item:hover > a {
  padding-left: 20px;
  color: #252525;
  font-weight: 600;
  transition: all 0.2s linear;
}
.menu2-item:hover .menu3-choice {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s linear;
}
.menu2-link {
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 400;
}
.menu2-link:hover {
  color: #252525;
  font-weight: 500;
  transition: all 0.2s linear;
}

.menu3 {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}
.menu3-choice {
  cursor: pointer;
  position: absolute;
  left: 100%;
  min-width: 271px;
  max-height: 291px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translate(-8px, -30px);
}
.menu3-choice::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 30px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s linear;
}
.menu3-item {
  list-style-type: none;
  padding: 15px 0;
  border-bottom: 1px solid #8c8c8c;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.menu3-item:last-of-type {
  border: none;
}
.menu3-link {
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
}
.menu3-link:hover {
  color: #252525;
  font-weight: 600;
  padding-left: 20px;
  color: rgb(10, 1, 1);
  transition: all 0.2s linear;
}

.hero {
  background: url(../images/Background2.png) lightgray 50%/cover no-repeat;
  min-height: 370px;
}

.hero-main {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.hero-title {
  margin-top: 150px;
}
.hero-desc {
  margin-top: 30px;
}
.hero-desc span {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f3f3f3;
}
.hero-desc i {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f3f3f3;
}

.abouts-header {
  padding: 70px 0px;
}
.abouts-center {
  display: flex;
  gap: 0 30px;
}
.abouts-image {
  max-width: 670px;
  max-height: 520px;
}
.abouts-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abouts-title {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.abouts-title p {
  max-width: 460px;
}
.abouts-icon {
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin-bottom: 15px;
}
.abouts-icon i, .abouts-icon p {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.customer {
  margin-top: 60px;
}

.customer-list {
  outline: 2px solid #ebebeb;
  position: relative;
  padding-bottom: 30px;
  border-radius: 2px;
}
.customer-item {
  padding: 30px 35px;
}
.customer-content {
  display: flex;
  gap: 0 20px;
}
.customer-img {
  max-width: 103px;
  max-height: 100px;
}
.customer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-author {
  max-width: 910px;
}
.customer-name {
  margin-top: 15px;
}
.customer-name a span {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #252525;
}

.slick-dots {
  display: flex;
  list-style-type: none;
  position: absolute;
  left: 15.5%;
  top: 78%;
  transform: translateX(-50%);
  gap: 0 10px;
}

.slick-dots button {
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background-color: #252525;
  font-size: 0;
}

.slick-dots .slick-active button {
  width: 30px;
  height: 8px;
}

.slick-dotted {
  padding-bottom: 50px;
}

.ourteam {
  margin-top: 70px;
}

.ourteam-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}
.ourteam-heading::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: auto;
  right: auto;
  width: 60px;
  height: 1px;
  background-color: #252525;
}
.ourteam-heading::before {
  content: " ";
  position: absolute;
  bottom: -15px;
  left: auto;
  right: auto;
  width: 30px;
  height: 1px;
  background-color: #252525;
}
.ourteam-list {
  max-height: 450px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.ourteam-item {
  max-width: 270px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.ourteam-image {
  max-width: 270px;
  max-height: 330px;
}
.ourteam-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ourteam-author {
  max-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px 0;
  background-color: #f9f9f9;
  padding-top: 20px;
}
.ourteam-author span {
  color: #252525;
}
.ourteam-icon {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 20px;
}
.ourteam-icon i {
  color: #707070;
  font-size: 20px;
}
.ourteam-icon i:hover {
  color: #252525;
}

.fz18 {
  font-size: 80px;
  background-color: red;
}

.ourteam-list .slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.slick-prev {
  background-color: transparent;
  color: #b7b7b7;
  left: 0;
  border: 2px solid #e1e1e1;
  transform: translateX(-50%);
}

.slick-next {
  color: #b7b7b7;
  right: 0;
  background-color: transparent;
  border: 2px solid #e1e1e1;
  transform: translateX(50%);
}

.fz20 {
  font-size: 20px;
}

@media (hover: hover) {
  .slick-prev:hover, .slick-next:hover {
    background-color: #252525;
    color: #f9f9f9;
  }
}
.footer {
  margin-top: 90px;
  background-color: #252525;
}

.footer-container {
  padding-top: 90px;
}
.footer-list {
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid #8c8c8c;
}
.footer-item h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
  padding-top: 10px;
}
.footer-item p {
  font-size: 14px;
  color: #707070;
  line-height: 24px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin-bottom: 30px;
}
.footer-item:nth-child(1) {
  margin-right: 60px;
}
.footer-item:nth-child(2) {
  margin-right: 30px;
  max-width: 370px;
}
.footer-item:nth-child(3) {
  margin-right: 70px;
  width: 150px;
}
.footer-item button {
  border: 1px solid #fbfbfb;
  padding: 15px 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.footer-logo {
  width: 150px;
}
.footer-logo a img {
  margin-bottom: 45px;
}
.footer-icon {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}
.footer-icon a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #707070;
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.footer-icon a:hover {
  color: #ffffff;
}
.footer-item-desc {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.footer-item-desc span {
  font-size: 14px;
  color: #707070;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.footer-supper {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.footer-supper button {
  max-width: 150px;
}
.footer-supper input {
  padding: 15px 20px;
  border: none;
  background-color: #8c8c8c;
  color: #252525;
}
.footer-supper input::placeholder {
  color: #e2e2e2;
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.footer-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-botton h2 {
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.footer-botton-icon {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.footer-botton-icon i:hover {
  color: #707070;
}

.fz11 {
  font-size: 100px;
  color: #363636;
}

.fz73 {
  font-size: 73px;
  color: #363636;
}

/*# sourceMappingURL=app.css.map */
