.abouts {
  &-header {
    padding: 70px 0px;
  }
  &-center {
    display: flex;
    gap: 0 30px;
  }
  &-image {
    max-width: 670px;
    max-height: 520px;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    p {
      max-width: 460px;
    }
  }
  &-icon{
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 15px;
    i,p{
      font-size: 16px;
      font-weight: 400;
      color: $gray-70;
      font-family: $font-sencondary;
    }
  }
}
