.customer {
  margin-top: 60px;
}

.customer {
  &-list {
    outline: 2px solid #ebebeb;
    position: relative;
    padding-bottom: 30px;
    border-radius: 2px;
  }
  &-item {
    padding: 30px 35px;
  }
  &-content {
    display: flex;
    gap: 0 20px;
  }
  &-img {
    max-width: 103px;
    max-height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-author {
    max-width: 910px;
  }
  &-name {
    margin-top: 15px;
    a{
      span {
        font-family: $font-sencondary;
        color: $text-25;
      }
    }
  }
}
.slick-dots {
  display: flex;
  list-style-type: none;
  position: absolute;
  left: 15.5%;
  top: 78%;
  transform: translateX(-50%);
  gap: 0 10px;
  
}
.slick-dots button {
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background-color: $black-25;
  font-size: 0;
}
.slick-dots .slick-active button {
  width: 30px;
  height: 8px;
}
.slick-dotted{
  padding-bottom: 50px;
}