body {
  font-family: $font-primary;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.wraper {
  width: 100%;
  margin: 0 auto;
  background: $backgroud-color;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  
}
