.text{
  &-select{
    font-size: 14px;
    font-weight: bold;
  }
  &-nav{
    font-size: 14px;
    text-transform: uppercase;
    color: $while-ff;
    font-weight: 400;
  }
  &-icon{
    font-size: 16px;
    text-transform: uppercase;
    color: $while-ff;
    font-weight: 400;
  }
  &-title{
    color: #f3f3f3;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }
}