@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Semibold.ttf);
  font-weight: 600;
}
$font-primary: "Montserrat", sans-serif;
$font-sencondary: "Source Sans Pro" ,Arial, sans-serif;
$black-25: #252525;
$backgroud-color: #fbfbfb;
$gray-8c: #8c8c8c;
$text-25: #252525;
$heading-36: #363636;
$gray-70: #707070;
$while-ff: #ffffff;
$while-f3: #f3f3f3;
$while-c5: #c5c5c5;
