$font-primary: "Montserrat", sans-serif;
$font-sencondary: "Source Code Pro", monospace;
$black-25: #252525;
$backgroud-color: #fbfbfb;
$gray-8c: #8c8c8c;
$text-25: #252525;
$heading-36: #363636;
$gray-70: #707070;
$while-ff: #ffffff;
$while-f3: #f3f3f3;
$while-c5: #c5c5c5;
